@page
@model DataExtractor.Pages.SuccessModel
@{
}

<div class="text-center">
    <h1 class="display-4">Sucess!</h1>
    <p>Your output file has generated and can be found in your default downloads location.</p>
    <!-- Add a button to redirect users back to the upload page -->
    <a href="/Upload" class="btn btn-primary btn-lg">Process Another File</a>
</div>

<script>
    window.onload = function () {
        window.location.href = '/Success?handler=Download';
    };
</script>