@page
@model DataExtractor.Pages.UploadModel
@{
    ViewData["Title"] = "File Upload";
}

<h1>File Upload</h1>

<p>This tool will allow you to upload a CSV file from EPC site and pass in a another CSV file containing a list of UPRN's to extract the rows that match.</p>

<p>The file that contains your list of UPRN's should have a colunm header "URPN".</p>

<p>Your first file upload should be the exported EPC CSV file. The second upload should be your list of UPRNs.</p>

<p> Once you have selected your two file, click the submit button. Once your file has processed you will be redirected to a success page and your output file will be found in your default downloads location.</p>
<form method="post" enctype="multipart/form-data">
    
    <div class="form-group mb-3">
        <label asp-for="File1">Upload the EPC CSV file</label>
        <input asp-for="File1" type="file" class="form-control">
    </div>  

    <div class="form-group mb-3">
        <label asp-for="File2">Upload the CSV file with your list of UPRNs</label>
        <input asp-for="File2" type="file" class="form-control">
    </div>
    <div class="form-actions">
        <input type="submit" value="Create" class="btn btn-primary" />        
    </div>

</form>

